// 사이드바 구역 및 구성 요소 컨테이너
aside#sidebar(style="position:fixed;left:0;top:0;width:280px;height:100vh;background:#4E4D4D;z-index:40")
  .wrap(class="px-4 py-6 flex flex-col items-center gap-y-4")
    include Sidebar/Profile
    include Sidebar/Dark
    include Sidebar/Count