// 전체보기 버튼
a#all-posts-btn(
  role="button"
  href="[##_blog_link_##]category"
  class="flex w-full items-center justify-center h-12 px-10 rounded-xl bg-h-700 border-2 border-white/80 dark:border-white/60 text-white"
)
  span.txt.font-medium 전체 글 보기